[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
scikit-learn = "*"
gunicorn = "*"
psycopg2-binary = "*"
spacy = "*"
flask-pymongo = "*"
pickle = "*"
dnspython = "*"
pymongo = "*"

[requires]
python_version = "3.7"
