<html>
    <header>
        <title>MARIJUANA RECOMMENDATIONS</title>
    </header>
    <body>
        <h4>MARIJUANA RECOMMENDATIONS:</h4>
        <form action="/search" method="POST">
            <p>
                What are you looking for?
                <input type="text" name="query" />
            </p>

                <input type="submit" />
            </p>
        </form>

        <form action="/name" method="POST">
            <p>
                Are you looking for a specific strain?
                <input type="text" name="query" />
            </p>

                <input type="submit" />
            </p>
        </form>
    </body>
</html>