<html>
    <header>
        <title>MARIJUANA RECOMMENDATIONS</title> 
    </header>
    <body>
        <h4>Show Results For:</h4>
        <form action="" method="POST">
            <p>
                Effects:
                <input type="text" name="effects" />
            </p>
            <p>
                Threshold:
                <input type="number" name="threshold" min=5 max=25 />
            </p>
            <p>
                <input type="submit" />
            </p>
                
        </form>
    </body>
</html>